<meta name="description" content="Take and share your own photo using Augmented Reality in your browser with WebRTC and JavaScript.">

<meta property="og:image" content="{{ ogImage }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Try Augmented Reality in your browser" />
<meta property="og:url" content="{{ currentUrl }}" />

<title>Try Augmented Reality in your browser</title>